{% extends 'dashboard/base.html' %}
{% block content %}
<button class = "newblog" href = '/dashboard/newblog/' id ="newbutton"><a href="/dashboard/newblog" id="new_blog">New Blog</a></button>

<div class= "content">
    <h1 class = "h1">All Blogs: </h1>
        {% for post in object_list %}
            <div class="card">
                <p class="card-title"><span class = "title">Title: </span>{{ post.title }}</p>
                <p class="author">{{ post.author }} | {{ post.created_on}} </p>
                <p class="card-text"><span class = "con-text">Content:</span><br><br> {{ post.body|slice:":50" }}</p>
                <a href="{{ post.id }}" class="read">Read More...</a>
            </div>
        {% endfor %}
</div>
{% endblock %}
  